body {
    font-family: 'Encode Sans', Helvetica, sans-serif;
    margin: 0;
}

nav {
    min-height: 50px;
    background-color: #212121;
    background-attachment: fixed;
    color: var(--bs-body-color);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 25px;
}

.social-class,.login-class {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-class {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logo-img {
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

/*****
    Redes sociales //// Social media
*****/

.button-social {
    background-color: var(--bs-element-one);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.button-social-color {
    color:var(--bs-gray-500);
}
.button-social-color:hover {
    color:var(--bs-gray-100);
}
.button-social-anim:hover {
    transition-property: color;
    transition-duration: .5s;
}

/*****
    Botón de iniciar sesión
    Login button 
*****/
.button-login {
    cursor: pointer;
    padding: 3vh 2vw;
    width: auto;
    margin-left: 70px;
    font-size: 25px;
    background-color: var(--bs-dark);
    color: #d9d9d9;
    font-family: 'Dosis', 'Helvética', sans-serif;
    font-weight: 200;
}

.button-login:hover {
    background-color: var(--bs-element-one);
    color: white;
}

.button-login:active {
    background-color: #312c1e;
}

#open {
    display: block;
}
#close {
    display:none;
}

/**** BANNER -foto representativa- ****/
.banner-class{
    position: relative;
    box-sizing: border-box;
    background-color: #0f0f0f;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.banner-class img{
    object-fit: cover;
    object-position: 30% 40%;
    width: 100%;
    height: 85vh;
    opacity: .1;
}

.banner-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**** NOMBRE y VOCACIÓN ****/
#name, #slogan-text {
    padding: 10px 0 10px 30px;
}

#name {
    font-family: var(--bs-font-sans-serif);
    color:#eee;
    font-weight: bold;
    text-shadow: 1px 1px #333;
}

#slogan-text {
    font-family: 'Dosis', 'Helvética', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #eee;
    text-shadow: 1px 1px #333;
    font-weight:250;
}

#slogan-color {
    background-color: rgb(var(--bs-element-one-rgb), .8);
    border-radius: 20px;
    padding: .2em .3em;
}

/***** 
        Botón ir hacia abajo
        Go-to-bottom button
*****/

#button-down{
    text-align:center;
}
#button-down span{
    display: block; 
    position: absolute;
    top: 90%;
    left: 50%;
    cursor: pointer;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b0afaf;
    text-align: center;
}

#button-down i{
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
    color: #b0afaf;
}
@keyframes pulsate{
    0%{
        transform:scale(1, 1)
    }
    50%{
        transform:scale(1.2, 1.2)
    }
    100%{
        transform:scale(1, 1)
    }
}

@media (min-width:981px){
    /* mayores a 980px */
    #name {
        font-size:3.5vw;
        text-align: left;
    }
    #slogan-text {
        text-align: left;
        font-size:2.6vw;
    }
    .banner-class img{
        object-fit: cover;
        object-position: 30%;
        width: 100%;
        height: 95vh;
        opacity: .2;
    }
}

@media (max-width:980px) {
    /* menores a 980px */
    #name {
        font-size:5.5vw;
        text-align: center;
    }
    #slogan-text {
        text-align: center;
        font-size:3.8vw;
    }
    .banner-class img{
        object-fit: cover;
        object-position: 40%;
        width: 100vw;
        height: 85vh;
        opacity: .2;
    }
    .banner-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /**** vista del header // header view ****/
    nav {
        flex-direction: column;
        padding-top: 20px;
    }
    .social-class {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }
    .login-class {
        padding-top: 10px;
    }
    #logo-img {
        height: 50px;
        margin: 0 auto;
    }
    .fa-user {
        display: none;
    }
    .button-login {
        display: block;
        width: 200px;
        padding: 10px;
        margin: 10px 0;
        font-size: 25px;
        background-color: var(--bs-dark);
        text-align: center;
        color: #d9d9d9;
        font-family: 'Dosis', 'Helvética', sans-serif;
        font-weight: 200;
    }

    #button-down{
        display: none;
    }
}