<header>
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <div class="logo">
            <img src="../../../assets/logoap-simpleblack.png" alt="Argentina Programa" id="logo-img">
            <h2>Argentina Programa</h2>
        </div>
    </a>
    <nav>
        <div class="nav-class">
            <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.facebook.com/nicobenialgo/"><span class="fa-brands fa-facebook fa-2x button-social-color button-social-anim" id="facebook" title="Facebook"></span></a></span>
            <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.instagram.com/nicobenialgo/"><span class="fa-brands fa-instagram fa-2x button-social-color button-social-anim" id="instagram" title="Instagram"></span></a></span>
            <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.linkedin.com/in/nicobenialgo"><span class="fa-brands fa-linkedin fa-2x button-social-color button-social-anim" id="linkedin" title="LinkedIn"></span></a></span>
            <span class="button-social d-flex justify-content-center align-items-center"><a href="https://github.com/NicoBenialgo"><span class="fa-brands fa-github fa-2x button-social-color button-social-anim" id="github" title="GitHub"></span></a></span>
        </div>
        <div class="nav-class">
            <a href="login.html" class="button-login button-login-anim" target="_self">Iniciar sesión</a>
        </div>
    </nav>
</header>
