<header>
    <nav>
        <div class="logo-class">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                <img src="../../../assets/logoap-simpleblack.png" alt="Argentina Programa" id="logo-img">
                <h2>Argentina Programa</h2>
            </a>
        </div>
        <!-- LOGO -->
        <div class="social-class">
            <ul class="navbar-nav" style="color: #161616;">
                <li class="nav-item">
                    <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.facebook.com/nicobenialgo/"><span class="fa-brands fa-facebook fa-xl button-social-color button-social-anim" id="facebook" title="Facebook"></span></a></span>
                </li>
				<li class="nav-item">
                    <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.instagram.com/nicobenialgo/"><span class="fa-brands fa-instagram fa-xl button-social-color button-social-anim" id="instagram" title="Instagram"></span></a></span>
                </li>
                <li class="nav-item">
                    <span class="button-social d-flex justify-content-center align-items-center"><a href="https://www.linkedin.com/in/nicobenialgo"><span class="fa-brands fa-linkedin fa-xl button-social-color button-social-anim" id="linkedin" title="LinkedIn"></span></a></span>
                </li>
                <li class="nav-item">
                    <span class="button-social d-flex justify-content-center align-items-center"><a href="https://github.com/NicoBenialgo"><span class="fa-brands fa-github fa-xl button-social-color button-social-anim" id="github" title="GitHub"></span></a></span>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-success button-sidebar" id="open" href="javascript:void(0)" onclick="mostrar()"><i class="fa-solid fa-user fa-xs"></i> Iniciar sesión</button>
                    <button class="btn btn-outline-success button-sidebar" id="close" href="javascript:void(0)" onclick="ocultar()"><i class="fa-solid fa-user fa-xs"></i> Iniciar sesión</button>
                </li>
			</ul>
        </div>
    </nav>
    <section class="bg-home-4" id="home">
        <div class="row">
            <div class="col banner-class">
                <img src="../../../assets/img-banner.jpg" class="img-fluid">
            </div>
            <div class="col banner-text">
                <h1 id="name">Nicolas Federico Benialgo</h1>
                <p id="slogan-text"><span id="slogan-color">Full Stack Developer Jr.</span></p>
            </div>
        </div>
        <div class="col" id="button-down">
            <span>
                <a href="#scroll">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </section>
</header>
<app-login></app-login>
<div id="scroll"></div>