<div class="experience-class">
    <h2>Educación</h2>
    <div class="row container-bar">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-school-flag fa-5x enterprise-academy"></i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <ul class="fa-ul">
                <h5>Escuela de Educación Secundaria Técnica N°5</h5>
                <li><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Estudios secundarios terminados</li>
                <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Libertad, Merlo, Buenos Aires.</li>
                <li><span class="fa-li"><i class="fa-solid fa-user-graduate"></i></span>Técnico en Servicios Turísticos.</li>
            </ul>
        </div>
    </div>
</div>