<aside>
    <div class="sidebar" id="sidebar">
        <a href="#" class="boton-cerrar" onclick="ocultar()">&times;</a>
        <div class="et_account_login_form">
            <form name="et-loginform" action="" method="POST">
            <input type="hidden" class="et_token_field" name="_token" value="" autocomplete="off">
                <div class="et_manage_input">
                    <label>Usuario</label>
                    <input type="text" placeholder="Coloque su nombre de usuario" autocomplete="off" name="username">
                </div>
                <div class="et_manage_input">
                    <label>Contraseña</label>
                    <input type="password" placeholder="Inserte una contraseña" autocomplete="off" name="password">
                </div>
                <label for="remember_me" style="display: block; text-align: left;">
                    <input type="checkbox" id="remember_me" name="remember" checked>
                    <span>Recordarme</span>
                </label>
                <input class="sucessfully-button" type="submit" name="submit" id="et-wp-submit" value="Entrar">
            </form>
        </div>
    </div>
</aside>


