<div class="experience-class"> 
    <h2>Experiencia laboral</h2>   
    <div class="row container-bar">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">
            <img src="../../../assets/logo-grido.png" class="enterprise-academy">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <ul class="fa-ul">
                <h5>Heladería Grido</h5>
                <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Barrio Rivadavia, Merlo, Buenos Aires.</li>
                <li><span class="fa-li"><i class="fa-regular fa-calendar-days"></i></span>Desde enero del 2021 hasta la actualidad. Cumplo con tareas de ventas al consumidor final con manejo de caja, reposición y preparación de alimentos.</li>
            </ul>
        </div>
    </div>
</div>