/**** Fondo de la sección ****/

* {
    box-sizing: border-box;
    margin: 0;
}

/*****
        CAJA 'SOBRE MÍ'
        ABOUT BOX
*****/

#avatar {
    width: 100%;
    outline: 10px solid #eee;
}

.about-class {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto;
    padding: 2%;
    width: 80%;
    height: auto;
    border-radius: 3rem 3rem 0 0;
    background-color: #312c1e;
}

.about-text {
    display: inline-block;
    color: white;
    border-radius: 10px;
}

.about-text>h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
    padding: .7em 0;
}

.about-text>p {
    font-style: italic;
    font-size: 1.2em;
}

@media (max-width:768px){
    /* menores a 768px */
    .col-class {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #avatar {
        padding-top: 10px;
        width: 50%;
        outline: 10px solid #eee;
    }
}